@scripts = {
        <script src="@routes.Assets.at("javascripts/models/applications.js")"></script>        
        <script src="@routes.Assets.at("javascripts/views/IndexViews.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
}

@main("Play! Application Hosting: Overview", scripts) {
   
   <div class="row-fluid">
   		<div class="span2"></div> 
   		<div class="span8">
   		<!-- Breadcrumb -->
			<div>
		        <ul class="breadcrumb">
		          <li>
		            <a href="#">Play! Hosting</a> <span class="divider">/</span>
		          </li>
		          <li class="active">Overview</li>
		          <li class="pull-right">
		          	<button class="btn btn-primary btn-mini" onclick="newProject()">New</button>
		          </li>
		        </ul>
		    </div>
   		</div>
   </div>
   
   <div class="row-fluid">
   		<div class="span2"></div> 
   		<div id="applicationoverview" class="span8">
		   
   		</div>
   
   </div>
   
}